.color {
    height: 100px;
    cursor: pointer;
}

.todo__indicator {
    width: 40px;
    height: 40px;
    position: relative;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    margin: 10px;
    cursor: pointer;
}

.todo__indicator__bg {
    position: absolute;
    top: 4px;
    left: 4px;
    right: 4px;
    bottom: 4px;
    background-color: #fff;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    z-index: 11;
}

.todo__indicator__active {
    position: absolute;
    top: 7px;
    left: 7px;
    right: 7px;
    bottom: 7px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    z-index: 12;
}

.todo_header{
    padding: 20px 10px;
    overflow: hidden;
    background-color: #f1f1f1;
    font-size: 25px;
    font-weight: bold;
}

.todo_header a:hover {
    background-color: #ddd;
    color: black;
}

.todo_header a {
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px; 
    line-height: 25px;
    border-radius: 4px;
  }

.chart {
    height: 400px;
    max-height: 500px;
    position: relative;
    margin-bottom: 60px;
}

footer {
    display: block;
  }